<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Bootstrap Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <a href="{{ url_for('index') }}">
        <button>Back to Home</button>
    </a>
      <h2 class="text-center">Select a Card</h2>
      <form method="POST" action="{{ url_for('search') }}">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
              <!-- Loop through the data and create cards -->
              {% for item in dft_list %}
                <div class="col d-flex justify-content-center">
                  <div class="card" data-index="{{ loop.index0 }}" onclick="selectCard(this)">
                <div class="card-img-top" style="background-image: url('{% if item.imgurl %}{{ item.imgurl }}{% else %}{{ url_for('static', filename=svg_file) }}{% endif %}');"></div>
                      <div class="card-body">
                        <h4 class="card-title text-center">{{ item.primaryTitle }}</h4>
                <p class="card-title text-center year-title">{% if item.startYear is none or item.starrYear == '\\N' %} NA {% else %}{{ item.startYear }}{% endif %}</p>
                        <h6 class="card-title text-center">{{ item.titleType|capitalize }}</h6>
                          <!--<p class="card-text">{{ item.description }}</p>-->
                      </div>
                  </div>
                </div>
              {% endfor %}
          </div>
          <input type="hidden" name="selected_index" id="selected_index">
          <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary mt-4">Submit Selection</button>
          </div>
      </form>

</div>

<!-- JS to get which returns the number of user selects the card -->
<script>
    function selectCard(cardElement) {
    console.log("Card selected!");
        // Remove the 'selected' class from any previously selected card
        let selectedCard = document.querySelector('.card.selected');
        if (selectedCard) {
            selectedCard.classList.remove('selected');
        }
        // Add the 'selected' class to the clicked card
        cardElement.classList.add('selected');
        // Set the index of the selected card in the hidden input
        let cardIndex = cardElement.getAttribute('data-index');
        document.getElementById('selected_index').value = cardIndex;
        console.log(cardIndex)
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>